__pycache__/
*.py[cod]
*$py.class
*.so

*.egg-info/
*.egg
dist/
build/
!build/.gitkeep

.env
.env.*
!.env.example

.venv/
venv/

.idea/
.vscode/
*.swp
*.swo

*.csv
*.png

.mypy_cache/
.pytest_cache/
.ruff_cache/

logs/
uploads/
